In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import time

In [2]:
#acquiring dataset with api 
url = "https://steamspy.com/api.php?request=all"
raw = requests.get(url).json()

df_spy = pd.DataFrame.from_dict(raw, orient="index")
df_spy.head()

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
730,730,Counter-Strike: Global Offensive,Valve,Valve,,7642084,1173003,0,"100,000,000 .. 200,000,000",33137,701,6527,302,0,0,0,1013936
1172470,1172470,Apex Legends,Respawn,Electronic Arts,,668053,326926,0,"100,000,000 .. 200,000,000",9758,596,821,287,0,0,0,124262
578080,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",,1520457,1037487,0,"100,000,000 .. 200,000,000",23973,768,5800,330,0,0,0,314682
1623730,1623730,Palworld,Pocketpair,Pocketpair,,358266,22443,0,"50,000,000 .. 100,000,000",3799,895,2217,301,2999,2999,0,18028
440,440,Team Fortress 2,Valve,Valve,,1044264,117208,0,"50,000,000 .. 100,000,000",21714,615,4264,82,0,0,0,43819

In [4]:
#saving raw dataset 
# df_spy.to_csv("my_data.csv", index=False)

In [13]:
#loading dataframe steamspy from disk 
df_spy = pd.read_csv("../data/raw/steamspy.csv")

# Verifying dataframe

In [14]:
df_spy.head()

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
0,730,Counter-Strike: Global Offensive,Valve,Valve,NaN,7642084,1173003,0,"100,000,000 .. 200,000,000",33137,701,6527,302,0,0,0,1013936
1,1172470,Apex Legends,Respawn,Electronic Arts,NaN,668053,326926,0,"100,000,000 .. 200,000,000",9758,596,821,287,0,0,0,124262
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",NaN,1520457,1037487,0,"100,000,000 .. 200,000,000",23973,768,5800,330,0,0,0,314682
3,1623730,Palworld,Pocketpair,Pocketpair,NaN,358266,22443,0,"50,000,000 .. 100,000,000",3799,895,2217,301,2999,2999,0,18028
4,440,Team Fortress 2,Valve,Valve,NaN,1044264,117208,0,"50,000,000 .. 100,000,000",21714,615,4264,82,0,0,0,43819

In [12]:
df_spy.tail()

,appid,name,developer,publisher,score_rank,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
995,1044720,Farthest Frontier,Crate Entertainment,Crate Entertainment,NaN,16780,2724,0,"1,000,000 .. 2,000,000",1779,7,725,7,3499,3499,0,995
996,668580,Atomic Heart,Mundfish,"Focus Entertainment, 4Divinity",NaN,31167,6828,0,"1,000,000 .. 2,000,000",944,368,642,358,1499,5999,75,466
997,544750,SOULCALIBUR VI,"BANDAI NAMCO Studios Inc., Dimps Corporation",BANDAI NAMCO Entertainment,NaN,11147,2394,0,"1,000,000 .. 2,000,000",813,599,217,599,5999,5999,0,119
998,972660,Spiritfarer: Farewell Edition,Thunder Lotus,Thunder Lotus,NaN,44192,2225,0,"1,000,000 .. 2,000,000",1040,370,420,435,2999,2999,0,702
999,1150690,OMORI,"OMOCAT, LLC","OMOCAT, LLC",NaN,78023,2214,0,"1,000,000 .. 2,000,000",1074,42,599,42,1999,1999,0,506

In [10]:
df_spy.shape

(1000, 17)

In [15]:
df_spy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            1000 non-null   int64
 1   name             1000 non-null   object
 2   developer        1000 non-null   object
 3   publisher        999 non-null    object
 4   score_rank       0 non-null      float64
 5   positive         1000 non-null   int64
 6   negative         1000 non-null   int64
 7   userscore        1000 non-null   int64
 8   owners           1000 non-null   object
 9   average_forever  1000 non-null   int64
 10  average_2weeks   1000 non-null   int64
 11  median_forever   1000 non-null   int64
 12  median_2weeks    1000 non-null   int64
 13  price            1000 non-null   int64
 14  initialprice     1000 non-null   int64
 15  discount         1000 non-null   int64
 16  ccu              1000 non-null   int64
dtypes: float64(1), int64(12), object(4)
memory usage: 132.9+ KB

In [19]:
# dropping collumn score_rank because it's empty 
df_spy = df_spy.drop("score_rank", axis=1)

In [20]:
df_spy.head()

,appid,name,developer,publisher,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,0,"100,000,000 .. 200,000,000",33137,701,6527,302,0,0,0,1013936
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,0,"100,000,000 .. 200,000,000",9758,596,821,287,0,0,0,124262
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,0,"100,000,000 .. 200,000,000",23973,768,5800,330,0,0,0,314682
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,0,"50,000,000 .. 100,000,000",3799,895,2217,301,2999,2999,0,18028
4,440,Team Fortress 2,Valve,Valve,1044264,117208,0,"50,000,000 .. 100,000,000",21714,615,4264,82,0,0,0,43819

In [24]:
#duplicates?
print(df_spy.duplicated().sum())

0

In [23]:
#Missing values?
print(df_spy.isna().sum())

appid              0
name               0
developer          0
publisher          1
positive           0
negative           0
userscore          0
owners             0
average_forever    0
average_2weeks     0
median_forever     0
median_2weeks      0
price              0
initialprice       0
discount           0
ccu                0
dtype: int64

In [25]:
#looking to the only missing value. 
df_spy[df_spy["publisher"].isna()]

,appid,name,developer,publisher,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
529,40800,Super Meat Boy,Team Meat,NaN,33571,1923,0,"2,000,000 .. 5,000,000",330,2,133,2,1499,1499,0,72

In [26]:
#the missing publisher in this title was replace by developer, as the game was self-published. 
df_spy["publisher"] = df_spy["publisher"].fillna("Team Meat")

In [28]:
# no more missing values 
print(df_spy.isna().sum())

appid              0
name               0
developer          0
publisher          0
positive           0
negative           0
userscore          0
owners             0
average_forever    0
average_2weeks     0
median_forever     0
median_2weeks      0
price              0
initialprice       0
discount           0
ccu                0
dtype: int64

In [29]:
#converted prices from cents to dolares 
df_spy["price"] = df_spy["price"] / 100
df_spy["initialprice"] = df_spy["initialprice"] / 100

In [30]:
df_spy.head()

,appid,name,developer,publisher,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,0,"100,000,000 .. 200,000,000",33137,701,6527,302,0.00,0.00,0,1013936
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,0,"100,000,000 .. 200,000,000",9758,596,821,287,0.00,0.00,0,124262
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,0,"100,000,000 .. 200,000,000",23973,768,5800,330,0.00,0.00,0,314682
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,0,"50,000,000 .. 100,000,000",3799,895,2217,301,29.99,29.99,0,18028
4,440,Team Fortress 2,Valve,Valve,1044264,117208,0,"50,000,000 .. 100,000,000",21714,615,4264,82,0.00,0.00,0,43819

In [31]:
# checking unique prices 
df_spy["price"].unique()

array([ 0.  , 29.99, 38.49, 59.99,  9.99, 69.99, 39.99,  4.99, 19.99,
       14.99, 34.99,  2.99,  8.79, 13.99, 24.99,  5.99, 44.99,  1.99,
       49.99, 31.96,  6.99,  0.99,  5.59, 23.99, 35.  ,  2.49,  6.24,
       17.99,  7.49,  4.49,  0.69,  7.99,  4.94,  8.99, 12.49, 20.99,
       12.99, 20.39, 67.95, 25.99,  7.39, 11.99,  4.24, 22.49, 11.24,
        4.04,  1.49,  0.79,  1.19,  2.79,  0.49, 13.49,  3.99, 15.99,
        7.19,  0.55, 17.49, 16.99, 13.59, 10.99,  2.24,  9.89,  1.94,
        4.74, 18.99, 14.39,  4.19,  1.69,  0.67, 19.88])

In [32]:
# checking unique initial prices 
df_spy["initialprice"].unique()

array([ 0.  , 29.99, 69.99, 59.99,  9.99, 39.99,  4.99, 19.99, 14.99,
       34.99, 24.99, 44.99,  1.99, 49.99, 31.96,  7.99, 35.  , 13.99,
       12.49, 12.99, 67.95,  0.99, 36.99,  6.99, 26.99, 17.99,  2.99,
        5.99, 27.99, 79.99, 16.99, 10.99, 11.99, 18.99, 23.99,  8.99,
        3.99, 19.88, 15.99])

In [35]:
#checking for duplicates 
df_spy.duplicated().any()

np.False_

In [36]:
df_spy["owners"].unique()

array(['100,000,000 .. 200,000,000', '50,000,000 .. 100,000,000',
       '20,000,000 .. 50,000,000', '10,000,000 .. 20,000,000',
       '5,000,000 .. 10,000,000', '2,000,000 .. 5,000,000',
       '1,000,000 .. 2,000,000'], dtype=object)

# cleaning owners collumn

In [43]:
#spliting collums to min and max 
split_owners = df_spy["owners_clean"].str.split(" .. ", expand=True)
split_owners.columns = ["owners_min", "owners_max"]
df_spy = df_spy.join(split_owners)

In [44]:
df_spy["owners_min"] = pd.to_numeric(df_spy["owners_min"], errors="coerce")
df_spy["owners_max"] = pd.to_numeric(df_spy["owners_max"], errors="coerce")

In [50]:
#creating collumn with average owners 
df_spy["owners_mid"] = (df_spy["owners_min"] + df_spy["owners_max"]) // 2

In [52]:
#dropping redudant collums 
df_spy = df_spy.drop(columns=["owners", "owners_min", "owners_max"])

In [54]:
#dropping redudant collums 
df_spy = df_spy.drop(columns=["owners_clean"])

In [55]:
df_spy.head()

,appid,name,developer,publisher,positive,negative,userscore,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu,owners_mid
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,0,33137,701,6527,302,0.00,0.00,0,1013936,150000000
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,0,9758,596,821,287,0.00,0.00,0,124262,150000000
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,0,23973,768,5800,330,0.00,0.00,0,314682,150000000
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,0,3799,895,2217,301,29.99,29.99,0,18028,75000000
4,440,Team Fortress 2,Valve,Valve,1044264,117208,0,21714,615,4264,82,0.00,0.00,0,43819,75000000

In [56]:
#rename collumn back to owners 
df_spy = df_spy.rename(columns={"owners_mid": "owners"})

In [60]:
#quick check test for owners > 5000000 
df_spy[df_spy["owners"] > 5000000]

,appid,name,developer,publisher,positive,negative,userscore,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu,owners
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,0,33137,701,6527,302,0.00,0.00,0,1013936,150000000
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,0,9758,596,821,287,0.00,0.00,0,124262,150000000
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,0,23973,768,5800,330,0.00,0.00,0,314682,150000000
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,0,3799,895,2217,301,29.99,29.99,0,18028,75000000
4,440,Team Fortress 2,Valve,Valve,1044264,117208,0,21714,615,4264,82,0.00,0.00,0,43819,75000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,1593500,God of War,"Santa Monica Studio, Jetpack Interactive",PlayStation Publishing LLC,151706,6311,0,1682,492,1361,421,49.99,49.99,0,1380,7500000
227,386180,Crossout,Targem Games,Gaijin Network Ltd,48219,15920,0,6725,1842,341,2110,0.00,0.00,0,2231,7500000
228,1238840,Battlefield 1,DICE,Electronic Arts,166775,26046,0,1623,147,468,84,39.99,39.99,0,6308,7500000
229,812140,Assassin's Creed Odyssey,"Ubisoft Quebec, Ubisoft Montreal, Ubisoft Buch...",Ubisoft,153091,19102,0,4478,543,2723,615,59.99,59.99,0,2629,7500000
230,1721470,Poppy Playtime,Mob Entertainment,Mob Entertainment,84113,14801,0,2343,55,68,60,0.00,0.00,0,588,7500000

In [62]:
df_spy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            1000 non-null   int64
 1   name             1000 non-null   object
 2   developer        1000 non-null   object
 3   publisher        1000 non-null   object
 4   positive         1000 non-null   int64
 5   negative         1000 non-null   int64
 6   userscore        1000 non-null   int64
 7   average_forever  1000 non-null   int64
 8   average_2weeks   1000 non-null   int64
 9   median_forever   1000 non-null   int64
 10  median_2weeks    1000 non-null   int64
 11  price            1000 non-null   float64
 12  initialprice     1000 non-null   float64
 13  discount         1000 non-null   int64
 14  ccu              1000 non-null   int64
 15  owners           1000 non-null   int64
dtypes: float64(2), int64(11), object(3)
memory usage: 125.1+ KB

In [63]:
df_spy["userscore"].unique()

array([0])

In [64]:
# Dropping userscore because is always zero. 
df_spy = df_spy.drop(columns=["userscore"])

In [65]:
df_spy.head()

,appid,name,developer,publisher,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu,owners
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,33137,701,6527,302,0.00,0.00,0,1013936,150000000
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,9758,596,821,287,0.00,0.00,0,124262,150000000
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,23973,768,5800,330,0.00,0.00,0,314682,150000000
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,3799,895,2217,301,29.99,29.99,0,18028,75000000
4,440,Team Fortress 2,Valve,Valve,1044264,117208,21714,615,4264,82,0.00,0.00,0,43819,75000000

In [ ]:
# converting collumns from minutes to hours (average_forever,average_2weeks,median_forever,	median_2weeks

In [70]:
df_spy["avg_playtime_hr"] = (df_spy["average_forever"] / 60).round(2)
df_spy["med_playtime_hr"] = (df_spy["median_forever"] / 60).round(2)
df_spy["avg_2weeks_hr"] = (df_spy["average_2weeks"] / 60).round(2)
df_spy["med_2weeks_hr"] = (df_spy["median_2weeks"] / 60).round(2)

In [72]:
df_spy.head()

,appid,name,developer,publisher,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,...,initialprice,discount,ccu,owners,avg_playtime_hr,med_playtime_hr,avg_playtime_2weeks_hr,med_playtime_2weeks_hr,avg_2weeks_hr,med_2weeks_hr
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,33137,701,6527,302,...,0.00,0,1013936,150000000,552.28,108.78,11.683333,5.033333,11.68,5.03
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,9758,596,821,287,...,0.00,0,124262,150000000,162.63,13.68,9.933333,4.783333,9.93,4.78
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,23973,768,5800,330,...,0.00,0,314682,150000000,399.55,96.67,12.800000,5.500000,12.80,5.50
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,3799,895,2217,301,...,29.99,0,18028,75000000,63.32,36.95,14.916667,5.016667,14.92,5.02
4,440,Team Fortress 2,Valve,Valve,1044264,117208,21714,615,4264,82,...,0.00,0,43819,75000000,361.90,71.07,10.250000,1.366667,10.25,1.37

In [73]:
#dropping the old minute collumns playtime 
df_spy = df_spy.drop(columns=[ "average_forever", "average_2weeks", "median_forever", "median_2weeks", "avg_playtime_2weeks_hr", "med_playtime_2weeks_hr"])

In [74]:
df_spy.head()

,appid,name,developer,publisher,positive,negative,price,initialprice,discount,ccu,owners,avg_playtime_hr,med_playtime_hr,avg_2weeks_hr,med_2weeks_hr
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,0.00,0.00,0,1013936,150000000,552.28,108.78,11.68,5.03
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,0.00,0.00,0,124262,150000000,162.63,13.68,9.93,4.78
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,0.00,0.00,0,314682,150000000,399.55,96.67,12.80,5.50
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,29.99,29.99,0,18028,75000000,63.32,36.95,14.92,5.02
4,440,Team Fortress 2,Valve,Valve,1044264,117208,0.00,0.00,0,43819,75000000,361.90,71.07,10.25,1.37

In [77]:
#creating collums for total reviews (positive+negative) and review ratio 

df_spy["total_reviews"] = df_spy["positive"] + df_spy["negative"]
df_spy["review_ratio"] = (df_spy["positive"] / df_spy["total_reviews"]).round(2)

# Reorder columns to insert after 'negative'
cols = list(df_spy.columns)
insert_at = cols.index("negative") + 1

for new_col in ["total_reviews", "review_ratio"]:
    cols.insert(insert_at, cols.pop(cols.index(new_col)))
    insert_at += 1

# Apply reordered columns
df_spy = df_spy[cols]

In [79]:
#checking new collumns 
df_spy[["positive", "negative", "total_reviews", "review_ratio"]].head()

   positive  negative  total_reviews  review_ratio
0   7642084   1173003        8815087          0.87
1    668053    326926         994979          0.67
2   1520457   1037487        2557944          0.59
3    358266     22443         380709          0.94
4   1044264    117208        1161472          0.90

In [81]:
df_spy.head()

,appid,name,developer,publisher,positive,negative,total_reviews,review_ratio,price,initialprice,discount,ccu,owners,avg_playtime_hr,med_playtime_hr,avg_2weeks_hr,med_2weeks_hr
0,730,Counter-Strike: Global Offensive,Valve,Valve,7642084,1173003,8815087,0.87,0.00,0.00,0,1013936,150000000,552.28,108.78,11.68,5.03
1,1172470,Apex Legends,Respawn,Electronic Arts,668053,326926,994979,0.67,0.00,0.00,0,124262,150000000,162.63,13.68,9.93,4.78
2,578080,PUBG: BATTLEGROUNDS,PUBG Corporation,"KRAFTON, Inc.",1520457,1037487,2557944,0.59,0.00,0.00,0,314682,150000000,399.55,96.67,12.80,5.50
3,1623730,Palworld,Pocketpair,Pocketpair,358266,22443,380709,0.94,29.99,29.99,0,18028,75000000,63.32,36.95,14.92,5.02
4,440,Team Fortress 2,Valve,Valve,1044264,117208,1161472,0.90,0.00,0.00,0,43819,75000000,361.90,71.07,10.25,1.37

In [82]:
df_spy.describe()

,appid,positive,negative,total_reviews,review_ratio,price,initialprice,discount,ccu,owners,avg_playtime_hr,med_playtime_hr,avg_2weeks_hr,med_2weeks_hr
count,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1.000000e+03,1000.000000,1000.000000,1000.00000,1000.000000
mean,6.284030e+05,9.274577e+04,1.390409e+04,1.066499e+05,0.847130,17.740100,20.177710,9.07500,4.719540e+03,6.062500e+06,42.924100,11.941510,5.97841,5.462310
std,6.146411e+05,2.890006e+05,5.581388e+04,3.351260e+05,0.122091,17.577228,18.171428,24.25489,3.526911e+04,1.209256e+07,68.150623,22.035965,14.51374,15.398397
min,1.000000e+01,0.000000e+00,1.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.00000,0.000000e+00,1.500000e+06,0.000000,0.000000,0.00000,0.000000
25%,2.281350e+05,1.594800e+04,2.154750e+03,1.945000e+04,0.790000,0.990000,1.990000,0.00000,6.950000e+01,1.500000e+06,9.037500,2.865000,0.24500,0.250000
50%,4.100200e+05,3.571400e+04,4.391000e+03,4.226150e+04,0.880000,14.990000,19.990000,0.00000,3.730000e+02,3.500000e+06,19.915000,5.680000,2.78000,2.180000
75%,8.950000e+05,8.042100e+04,1.009825e+04,9.418475e+04,0.930000,29.990000,29.990000,0.00000,1.661500e+03,3.500000e+06,43.905000,12.290000,6.92250,5.532500
max,3.241660e+06,7.642084e+06,1.173003e+06,8.815087e+06,0.990000,69.990000,79.990000,90.00000,1.013936e+06,1.500000e+08,632.350000,239.330000,326.02000,326.020000

In [87]:
#saving cleaned dataset 
df_spy.to_csv("steamspy_clean.csv", index=False)